{block content}
<div class="container">

<h1 n:block=title>Registrace</h1>

{* control signUpForm *}

{import '../components/bootstrap-form.latte'}
{include bootstrap-form signUpForm}

<p><a n:href="in">Máte už svůj účet? Přihlaste se.</a></p>
</div>